.blog-post {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .content {
    margin: 20px;
    width: 80%;
    overflow: hidden;
  }
  .content-inner {
    max-width: 800px; /* Adjust the value as desired */
    margin: 0 auto; /* Center the content horizontally */
  }