.contact {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 100px;
    margin-bottom: 100px;
    padding: 10px;
  }
  
  .center-content {
    text-align: center;
    padding: 10px;
  }
  .social-logo {
    width: 20px;
    height: 20px;
  }
