.container {
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    text-align: center;
  }
  
.image-container {
    display: flex;
    
  }
  .image-text {
    align-items: center;
    padding-top: 200px;
  }
  
.image-profile-pic{
    overflow: hidden;
    border-radius: 50%;
    width: 50%; 
    padding: 10px;
  }
  
  .text-box {
    padding: 10px; 
    text-align: center;
  }