.chart-box{
    background: white;
}

.plant-monitor {
    padding-left: 10%;
    padding-right: 10%;
}

.plant-title {
    padding-top: 10px;
    font-size: 1.5rem;
    
}
.plant-text {
    padding-left: 15px;
}

.plant-text-box {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.2rem;
}