.task-board{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 20px;
}
.task-board-column{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #0035B7;
}