.delete-button {
    display: none;
  }
  
  li:hover .delete-button {
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    padding: 0;
    margin-left: 10px;
    display: inline-block;
  }