.wordle-container {
    padding: 40px;
    background-color: black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 300px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
    margin: 0 auto;    
}
.input-boxes {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.input-boxes input {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #7f7f7f;
    border-radius: 5px;
    font-size: 18px;
    padding: 0;
    margin: 0 2px;
}

.wordle-button {
    padding: 10px;
    background-color: #7f7f7f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100%;
}

.wordle-button:hover {
    background-color: #5a5a5a;
}

.guesses {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.guess-letter {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #f8f8f8;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

.guess-letter[color="green"] {
    color: white;
    background-color: #008000;
}

.guess-letter[color="yellow"] {
    color: black;
    background-color: #ffff00;
}

.guess-letter[color="gray"] {
    color: #7f7f7f;
}