.link-text{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 10px;
}

.text{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    margin-bottom: 50px;
}

.navbar{
    color: white;
}

.image-navbar{
    width: 5%;
    padding: 10px;
    
}

