body{
    background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
    background-image: url('./images/home-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    color: white;
}